* {
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0 auto;
    display: flex;
    background: url(assets/desktop.png) center top/cover no-repeat;
    color: white;
    height: 700px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-position: 50% 50%;
}

@media screen and (min-width: 1600px) {
    .header {
        height: 40vh;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        height: 500px;
    }
}

@media screen and (max-width: 720px) {
    .header {
        height: 500px;
        background: url(assets/mobile.png) center top/cover no-repeat;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 300px;
        background: url(assets/mobile.png) center top/cover no-repeat;
    }
}
